.DS_Store
UserInterfaceState.xcuserstate


*.pyc

build/ 
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.swp
*~.nib/ 
*.pbxuser 
*.perspective 
!default.perspectivev3
*.perspectivev3 
*.xcworkspace
!default.xcworkspace
xcuserdata
*.moved-aside

.svn

.DS_Store
*.model1v3
._*
Documentations/*
node_modules/*

SSTVGenerator/venv.sh
venv/bin/*
